.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./Assets/banner-bg.jpg');
    background-position: center center;
    background-size: cover;
}


.h1{
    margin-bottom: 2rem!important;
}
